<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Retour" (click)="stopCamera()"></ion-back-button>
    </ion-buttons>
    <ion-title>Camera</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Caméra</ion-card-subtitle>
        <ion-card-title>Caméra</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        Ceci est une caméra :)
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-icon name="disc-outline" slot="start"></ion-icon>
        <ion-label>Caméra</ion-label>
      </ion-item>

    </ion-card>




  </div>
</ion-content>
